
<router-outlet>

<div class="d-flex">

    <!-- sidebar -->
<app-side-bar></app-side-bar>
<!-- end sidebar  -->

    <div class="container">
        <div class="row p-3">
            <h5>
                Search
            </h5>
            <input type="text" class="form-control" placeholder="Search..." >
        </div>
        <hr/>

        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod quia, maiores animi aperiam esse soluta. Est unde nam autem, quaerat a, voluptatem esse error odit rerum ex perferendis ipsam quasi!
            </div>
        </div>
        </div>
    </div>

</router-outlet>