/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
}

#sidebar {
    height: 100%;
    /* tamaño minimo toda la pantalla viwe height */
    min-height: 100vh; 
    min-width: 180px;

}